package {{.PkgName}}

import "github.com/samber/do"
{{if and .AssertInterface (ne .ImportName "") (ne .InterfaceName "") (ne .ImportPath "")}}
import {{.ImportName}} "{{.ImportPath}}"

var _ {{.ImportName}}.{{.InterfaceName}} = (*{{.StructName}})(nil)
{{end}}

type {{.StructName}} struct{}

func New(i *do.Injector) ({{if ne .InterfaceName ""}}{{.ImportName}}.{{.InterfaceName}}{{else}}*{{.StructName}}{{end}}, error) {
  return &{{.StructName}}{}, nil
}

{{ if ne .Implementation "" }}{{ .Implementation }}{{end}}