package {{.PkgName}}

{{ if ne .PortPath ""}}import (
  {{ if ne .TargetDomain .PortDomain}}{{.PortDomain}}port {{end}}"{{.PortPath}}"
)

var _ {{if ne .PortDomain .TargetDomain}}{{.PortDomain}}{{end}}port.{{.PortName}} = (*{{.ServiceName}})(nil){{end}}

type {{.ServiceName}} struct {}

func New() (*{{.ServiceName}}, error) {
  return &{{.ServiceName}}{}, nil
}

{{ if ne .PortImplementation "" }}{{ .PortImplementation }}{{end}}